$material-blue-gray-color: #607D8B

nav
    border: 1px solid $material-blue-gray-color
    position: relative
    margin: 1em
    overflow: hidden
    ul
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        list-style-type: none
        padding: 0
        margin: 0
        li
            flex-grow: 1
            flex-basis: auto
            margin: 0.25em 0
            padding: 0 1em
            text-align: center
            border-left: 1px solid $material-blue-gray-color
            background-color: #fff
