<nav class="menu">
    <ul>
        <li>
            <a href="https://www.google.com">
                Google search
            </a>
        </li>
        <li>
            <a href="https://www.bing.com">
                Bing search
            </a>
        </li>
        <li>
            <a href="https://duck.com">
                Duck Duck Go Search
            </a>
        </li>
    </ul>
</nav>